.btn-default {
    @include font-default(400, 15px, normal, black);
    padding: 5px;
    background-color: #fadb36;
    border: 5px solid black;
    text-align: center;

    border-radius: 17px;
    &:hover {
        transition: 0.2s;
        background-color: #ef9b10;
    }

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        pointer-events: none;
        background-color: gray;
    }
}



// TODO: зачем
.btn-secondary {
    @include font-face(Montserrat, 400, 14px, 14px, black);
    background: #287EE7;
    border-radius: 8px;

    &:hover {
        transition: 0.2s;
        background-color: #4B9AFB;
    }

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        pointer-events: none;
        background-color: gray;
    }
}