.btn-default {
    @include font-default(400, 15px, normal, black);
    padding: 5px;
    background-color: #FADB36;
    border: 5px solid black;
    text-align: center;
    border-radius: 17px;

    &:hover {
        transition: 0.2s;
        background-color: #EF9B10;
    }

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        pointer-events: none;
        background-color: gray;
    }
}