<main class="main-menu">
    <form class="main-menu__form" id="main-menu">
        <label for="modal-order-input-name">
            Hello Gamer! <br>
            Tell us your name?
        </label>
        <input id="modal-order-input-name" name="name" type="text" placeholder="name">

        <p class="main-menu__mode-label">
        </p>
        <fieldset>
            <legend>
                Choose your game mode:
            </legend>
            <div>
                <label>
                    ${this.#modes[0]}
                    <input type="radio" name="gameMode" value="practice">
                </label>
            </div>
            <div>
                <label>
                    ${this.#modes[1]}
                    <input type="radio" name="gameMode" value="game">
                </label>
            </div>
        </fieldset>

        <ul class="main-menu__button-list">
            <li class="main-menu__button-item">
                ${new Button({name: "play"}).render()}
            </li>
            <li class="main-menu__button-item">
                ${new Button({name: "sets"}).render()}
            </li>
            <li class="main-menu__button-item">
                ${Renderer.render(Button)}
                ${new Button({name: "faq"}).render()}
            </li>
        </ul>
    </form>

    <div class="game-screen" id="game-screen">

    </div>
</main>