.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInRight {
    animation-name: fadeInRight;
    animation-timing-function: cubic-bezier(0.5, 1, 0.27, 1.10);
}


@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.animate__fadeOutLeft {
    animation-name: fadeOutLeft;
    animation-timing-function: ease;
}


@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.animate__zoomIn {
    animation-name: zoomIn;
    animation-timing-function: cubic-bezier(0, 1, 0.79, 1);
}


@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}

.animate__zoomOut {
    animation-name: zoomOut;
    animation-duration: 500ms;
}

@keyframes shakeX {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

.animate__shakeX {
    animation-name: shakeX;
}