@import "./null";
@import "./vars";
@import "./mixins";
@import "./buttons";
@import "./main-menu";

* {
}

header {
    height: 150px;
}


.root-menu {
    width: 100vw;
    //height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rebeccapurple;

    .root-menu__form {
        width: 300px;
        height: 500px;
        background-color: #96DDE8;

    }

    .root-menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .root-menu__button-item {
        button {
            width: 183px;
            height: 50px;
        }
    }
}



.game-screen {
    height: 300px;
    background-color: antiquewhite;
}
