.modal-game-result {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    display: block;
    background: rgba(0, 0, 0, 0.5);

    &__wrapper {
        max-width: 500px;
        min-height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        position: relative;
        padding: 25px 25px;
        border-radius: 25px;
        color: black;
        background-color: white;
        border: 1px solid black;
        box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        @include font-default(400, 20px, normal, black);
    }

    &__title {
        font-size: 50px;
    }

    &__level-label {
        font-size: 25px;
    }

    &__score-label {
        font-size: 30px;
    }

    &__score-value {
        color: #F51317;
        font-size: 45px;
        line-height: 35px;
    }

    &__correct-count {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-size: 25px;
    }

    &__buttons {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }

        button, app-link {
            width: 180px;
            font-size: 25px;
        }
    }
}


@media (max-width: 420px) {
    .modal-game-result {
        &__correct-count {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        &__buttons {
            div:nth-child(1) {
                flex-direction: column;
            }
        }
    }
}