.modal-about {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    display: block;
    background: rgba(0, 0, 0, 0.5);

    &__wrapper {
        max-width: 500px;
        min-height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        position: relative;
        padding: 25px 25px;
        border-radius: 25px;
        color: black;
        background-color: white;
        border: 1px solid black;
        box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        @include font-default(400, 20px, normal, black);
    }

    &__btn-close {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50px;
        border: 3px solid black;
    }

    &__title {
        font-size: 50px;
    }

    &__sub-title {
        font-size: 30px;
    }
}